
.form-container{
position: fixed;
right: 0;
left: 0;
top: 0;
bottom: 0;
z-index: 1000;
background-color: rgba(0, 0, 0, 0.678);
height: 100vh;
}
.form-card-position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forms{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: var(--contents);
    gap: 0.5rem;
    padding: 1rem;
    border: 5px solid var(--fix-dark);
    border-radius: 10px;
}
.form-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
}
.form-title{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 900;
    color: var(--text);

}
.form-label{
    font-size: medium;
    font-weight: 500;
    color: var(--text);
}
.form-input{
    color: var(--text);
    background: none;
    border: 2px solid var(--fix-dark);
    padding: 0.7rem;
    width: 100%;
}
.buttons-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.disable{
    opacity: 0.5;
}
