
.calendar-container {
  width: 100%;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: none;

}

.header-content{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--barueri-yellow)
}.consultarDatas{
  color: black;
}

.nav-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--barueri-yellow);
  padding: 5px 10px;
  transition: color 0.2s ease-in-out;
}

.nav-button:hover {
  color: #000;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 10px;
}

.days-of-week {
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #777;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.calendar-day {
  color:  var(--barueri-black);
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: none;
 
}
.calendar-day:hover{
  background-color: rgba(255, 255, 0, 0.426);
}

.calendar-day.day-valid:hover {
  background-color: #e0e0e0;
}

.calendar-day.selected {
  background-color: var(--barueri-yellow);
  color: white;
  font-weight: bold;
}

.calendar-day.today {
  border: 2px solid var(--barueri-yellow);
  background-color: var(--barueri-yellow);
}

.calendar-day.today.selected {
  border-color: white;
}