.list{
    position: absolute;
    z-index: 1000;
    margin: 3rem 0 0;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    border-radius: 20px;
    max-height: 250px;
    overflow-y: auto;

}
.list>div{
    border: none; 
    
}
.list-content{
    padding: 0.5rem;
    margin: 0;
    background-color: var(--contents);
    cursor: pointer;
}
.list-content:hover{
    background-color: var(--hover-contents);
}
.list-info{
    color: var(--text);
    font-size: large;
}.list-info-bottom{
    color: var(--fix-gray);
    font-size: medium;
}