
.header{
position: relative;
margin: 0;
display: flex;
justify-content: space-evenly;
gap: 10rem;
width: auto;
height: 10vh;
background-color: var(--fix-dark);
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.img{
    height: 60px;
    width: auto;
}
.header-part-left{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-part-right{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.painel{
    color: var(--fix-titles);
    margin:0;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.menu{
    background: none;
    border: none;
}

@media (max-width: 1210px) {
 .header{
    gap: 5rem;
 }
 .img{
    height: 30px;
 }
 .painel{
    font-size: medium;
 }
}