*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
position: relative;
margin:0;
display: flex;
justify-content: space-evenly;
gap: 10rem;
width: 100vw;
height: 10vh;
background-color: var(--barueri-black);
}
.img{
    height: 60px;
    width: auto;
}

.header-part-left{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-part-right{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.painel{
    color: var(--barueri-yellow);
    margin:0;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.menu{
    background: none;
    border: none;
}