.search-list{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: none;
}
.container-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    gap: 1rem;
}.container-search input{
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    font-size: 1rem;
    background-color: var(--contents);
    color: var(--text);
}.container-search input::placeholder{
    color: var(--fix-gray);
    opacity: 0.7;
}.container-search button{
    width: 30%;
}
.container-up{
    margin: 0 10vw 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    justify-content: center;
    justify-items: stretch;
}
.container-down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 10vw 2rem;
}

/* ...existing code... */

@media (max-width: 1024px) {
  .container-up {
    grid-template-columns: 1fr;
    margin: 0 10vw;
    gap: 1rem;
  }
}

