
.container-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    gap: 1rem;
}.container-search input{
    width: 50%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    font-size: 1rem;
    background-color: var(--contents);
    color: var(--barueri-black);
}.container-search input::placeholder{
    color: var(--barueri-gray);
    opacity: 0.7;
}.container-search button{
    width: 30%;
}
.container-up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 0 10rem 0;
    flex-direction: row;
}


.container-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 2rem 10rem 0;
}

