.background-login {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../assets/images/background-login.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(2, 3, 10, 0.4);
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    max-height: 500px;
}
.semurb-logo-login{
    background: url('../assets/images/semurb-logo-login.png') ;
}
.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--fix-dark);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    width: 40%;
    height: 100%;
    
}

.form-login{
    padding: 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--fix-white);
    width: 60%;
    height: 100%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}

h1, h2{margin: 0; color: white}
.font-color{
    color: var(--fix-dark);
}.font-color-light{
    color: var(--fix-gray);
}

.content-login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.label-login{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--fix-dark);
}
.input-login{
    color: var(--fix-dark);
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid var(--fix-gray);
}.input-login:focus{
    color: var(--fix-dark);
}
.button-login{
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 5px;
    background-color: var(--fix-dark);
    color: var(--contents);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.forgot-password{
    text-decoration: none;
    color: var(--fix-gray);
    font-weight: 500;
    letter-spacing: 0.1rem;
}


