
.menu-container{
    margin: 0;
    z-index: 100;
    position: absolute;
    width: 200px;
    height: 100%;
    right: 0;
    margin-top: 10vh;
    background-color: none;
}
.options{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.option{
    margin: 0;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--barueri-yellow);
    background-color: var(--barueri-black);
    cursor: pointer;
}

