
@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), 
    url(./assets/fonts/Montserrat-Regular.ttf) 
    format('truetype');
}
*{
  font-family: 'Montserrat-Regular';
}

.confirm-button{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-color: var(--barueri-green);
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
.cancel-button{
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  background-color: var(--barueri-red);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

:root {
  font-family: 'Montserrat-Regular';
  line-height: 1.5;
  overflow-x: hidden;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3f3f3;


  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 
  --barueri-yellow: #F4D03F;
  --barueri-black: #111827;
  --barueri-dark-gray: #1f2937;
  --barueri-white: #ffffff;
  --barueri-green: #229954;
  --barueri-orange: #F39C12;
  --barueri-red: #E74C3C;
  --barueri-blue: #2E86C1;
  --barueri-dark-bg: #1A1A1A;
  --barueri-gray: #6B7280;
  --barueri-blue-gray: #4c596e;


}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
