
@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}
*{
  font-family: 'Montserrat-Regular', sans-serif;
}

:root {
  font-family: 'Montserrat-Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  --barueri-yellow: #F4D03F;
  --barueri-black: #111827;
  --barueri-dark-gray: #1f2937;
  --barueri-white: #f9fafb;
  --barueri-green: #229954;
  --barueri-orange: #F39C12;
  --barueri-red: #E74C3C;
  --barueri-blue: #2E86C1;
  --barueri-dark-bg: #1A1A1A;
  --barueri-gray: #6B7280;
  --barueri-blue-gray: #4c596e;
  
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
